.cart {

    &__wrap {
        margin-top: 96px!important;
        margin-bottom: 128px!important;
        @include flexStyle(space-between);
        align-items: start;

        &-items {
            display: flex;
            flex-direction: column;

            &-block {
                width: 652px;
                height: 306px;
                display: flex;
                margin-bottom: 40px;
                background-color: $colorLightWhite;
                filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
                
                & > img {
                    height: 100%;
                }
            }

            &-info {
                margin: 22px 22px 62px 30px;
                width: 100%;
                position: relative;

                & p {
                    @include fontStyle($colorDarkGrey, 22px);
                    margin-bottom: 6px;

                    &:nth-child(1) {
                        font-size: 24px;
                    }

                    &:nth-child(2) {
                        font-size: 24px;
                        margin-bottom: 42px;
                    }

                    & .price {
                        color: $colorDarkPink;
                    }

                    & .quantity {
                        padding:0 10px;
                        width: 30px;
                        border: 1px solid $colorLightGrey;
                        margin-left: 25px;
                        @include fontStyle($colorDarkGrey, 22px);
                        margin-bottom: 6px;
                    }
                }

                & svg {
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;

                    &:hover path {
                        fill: $colorDarkPink;
                        transition: 0.5s;
                    }
                }
                
            }

            &-buttons {
                @include flexStyle(space-between);
                margin-top: 32px;

                & button {
                    padding: 16px 40px;
                    border: 1px solid $colorLightGrey;
                    background: $colorLightWhite;
                    @include fontStyle($colorDarkBlack, 14px, 300);

                    &:hover {
                        background-color: $colorDarkGrey;
                        color:$colorLightWhite;
                        cursor: pointer;
                        transition: 0.5s;
                    }
                }
            }
        }

        &-order {
            display: flex;
            flex-direction: column;

            &-adress {

                & > * {
                    display: block;
                    margin-bottom: 20px;
                }

                & p {
                    @include fontStyle($colorDarkBlack, 16px, 300)
                }

                & input {
                    padding: 13px 17px 16px;
                    border: 1px solid $colorLightGrey;
                    background: $colorLightWhite;
                    color: $colorDarkBlack;

                    &[type="text"] {
                        width: 360px;
                    }

                    &[type="submit"] {
                        color: $colorLightGrey;
                        &:hover {
                            color: $colorLightWhite;
                            background-color: $colorLightGrey;
                        }
                    }

                    &::-webkit-input-placeholder {
                        @include fontStyle($colorLightGrey, 13px, 300);
                    }
                } 
            }

            &-allprice {
                margin-top: 35px;
                background: #F5F3F3;
                padding: 44px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                & .subtotal {
                    @include fontStyle($colorDarkGrey, 11px);
                    margin-bottom: 12px;

                    & span {
                        margin-left: 10px;
                    }
                }
                & .grandtotal {
                    @include fontStyle($colorDarkGrey, 16px, 300);

                    & span {
                        @include fontStyle($colorDarkPink, 16px, 700);
                        margin-left: 20px;
                    }
                }

                & hr {
                    background: $colorDarkGrey; 
                    width: 100%;
                    margin-top: 21px;
                    margin-bottom: 17px;
                }

                & input {
                    width: 100%;
                    padding-top: 15px;
                    padding-bottom: 16px;
                    background-color: $colorDarkPink;
                    @include fontStyle($colorLightWhite, 16px, 300);
                    border: 1px solid $colorDarkPink;

                    &:hover {
                        cursor: pointer;
                        background-color: $colorLightWhite;
                        color: $colorDarkPink;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .cart {

        &__wrap {
            align-items: center;
            flex-direction: column;

            &-items {
                width: 100%;
                padding-bottom: 64px;

                &-block {
                    width: 100%;
                }

                &-buttons {
                    justify-content: center;
                    gap: 48px;
                }
            }

            &-order {
                flex-direction: row;
                gap: 15px;
                width: 100%;

                & > * {
                    flex: 1;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .cart {

        &__wrap {
            margin-top: 39px!important;
            margin-bottom: 96px!important;

            &-items {

                &-buttons {
                    flex-direction: row;

                    & button {
                        padding: 8px 18px;
                        font-size: 12px;
                    }
                }

                &-block {
                    height: 188px;
                    margin-bottom: 30px;
                }

                &-info {
                    margin: 13px 17px 0;;

                    & p {
                        font-size: 14px;
    
                        margin-bottom: 4px;
                        &:nth-child(1) {
                            font-size: 16px;
                        }
    
                        &:nth-child(2) {
                            font-size: 16px;
                            margin-bottom: 25px;
                        }

                        & .quantity {
                            font-size: 14px;
                        }
                    }
                }
            }

            &-order {
                flex-direction: column;
            }
        }
    }
}