@import 'vars';
@import 'mixins';
@import 'product';
@import 'catalog';
@import 'cart';
@import 'registration';

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .header {
    background-color: #222;
    padding: 20px 0;
  }
  
  .header__wrap {
    display: flex;
    justify-content: space-between;
  }
  
  .header__logo {
    margin-right: 40px;
  }

  .header__search {
    background-color: transparent;
    border: none;
  }

  .header__item:hover {
    cursor: pointer;
  }
  .header__item:not(:last-child) {
    margin-right: 33px;
  }
  
  
  .header__backet {
    position: relative;
  }
  
  .header__backet::after {
    content: "5";
    position: absolute;
    top: -20px;
    right: -10px;
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    border-radius: 50px;
    text-align: center;
    color: #FFF;
    font-size: 12px;
  }
  
  .intro {
    height: 764px;
    background-color: #F1E4E6;
  }
  
  .intro__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../img/pict/header_man.png);
    background-repeat: no-repeat;
    background-position: -212px bottom;
  }
  
  .intro__text {
    max-width: 377px;
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
  }
  
  .thebrand {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  
  .ofluxerious {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .fashion {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .category {
    margin-top: 65px;
    margin-bottom: 95px;
  }
  
  .category__item {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
  }
  
  .category__item:not(:last-child) {
    width: 32%;
    margin: 0 0 30px 0;
    height: 260px;
  }
  
  .category__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .category__text-small {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .category__text-red {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .category__wrap > * {
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .forWomen {
    background-image: url(../img/pict/for_women.jpg);
  }
  
  .forMen {
    background-image: url(../img/pict/for_men.jpg);
  }
  
  .forKids {
    background-image: url(../img/pict/for_kids.jpg);
  }
  
  .accesories {
    background-image: url(../img/pict/accesories.jpg);
  }
  
  .shadow {
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;

    &:hover {
      background: rgba(33, 22, 22, 0.9);
      cursor: pointer;
    }
  }
  
  .category__text {
    z-index: 5;
  }
  
  .items__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .items__text {
    width: 100%;
    text-align: center;
    margin-bottom: 48px;
  }
  
  .items__text-h1 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .items__text-small {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .items__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .items__card {
    max-width: 360px;
    max-height: 580px;
    margin-bottom: 30px;
    background-color: #F8F8F8;
  }
  
  .items__picture {
    background-color: #F7E4E2;
    text-align: center;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }
  
  .items__info {
    display: block;
    margin: 24px 16px;
  }
  
  .items__name {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .items__description {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .items__price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .items__button {
    width: 100%;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 60px;
  }
  
  .buttonAllProducts {
    display: inline;
    background-color: #fff;
    border: 1px solid #F16D7F;
    padding: 14px 38px 13px;
    color: #F16D7F;
    text-decoration: none;

    &:hover {
      background-color: #F16D7F;
      color: #FFF;
      transition: 0.3s;
    }
  }
  
  .infoBox {
    background-color: #222224;
  }
  
  .infoBox__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 103px 10px 104px;
    color: #FBFBFB;
    background-color: #222224;
  }
  
  .infoBox__info {
    width: 360px;
    text-align: center;
  }
  
  .infoBox__name {
    font-size: 20px;
    margin: 28px 0 16px;
    line-height: 24px;
  }
  
  .infoBox__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
  }
  
  .connect {
    position: relative;
  }
  
  .connect__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 86px 10px 126px;
  }
  
  .connect__info {
    width: 360px;
    text-align: center;
    font-size: 20px;
  }
  
  .connect__text {
    margin-top: 30px;
  }
  
  .connect__name {
    text-align: center;
    margin-bottom: 32px;
  }

  .smallText {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 162%;
  }
  
  .connect__message {
    display: flex;
    justify-content: center;
  }
  
  .connect__message__input {
    height: 49px;
    width: 256px;
    background-color: #E1E1E1;
    border: none;
    border-radius: 50px 0 0 50px;
    padding-left: 22px;
  }
  
  .connect__message__input:focus {
    outline: none;
  }
  
  .connect__message__button {
    height: 49px;
    width: 100px;
    padding-right: 30px;
    background-color: #F16D7F;
    border: none;
    border-radius: 0 50px 50px 0;
    padding-left: 22px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;

    &:hover {
      font-weight: 700;
      transition: 0.3s;
    }
  }
  
  .connect__background {
    background-image: url(../img/connect_background.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    z-index: -9999;
  }
  
  .connect__background-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(to left, #f8f8f8 40%, transparent);
  }
  
  .footer__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  
  .footer__copyright {
    color: #FBFBFB;
  }
  
  .footer__network {
    display: flex;
  }
  
  .footer__contacts {
    background-color: #222224;
  }
  
  .network {
    background-color: #FFF;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .network:not(:last-child) {
    margin-right: 7px;
  }
  
  .network:hover {
    background-color: #F16D7F;
    transition: 0.5s;
  }
  
  .network:hover path {
    fill: #FFF;
    transition: 0.5s;
  }
  
  .items__picture::before {
    content: "";
    background-color: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
  }
  
  .items__picture:hover::before{
    display: block;
  }
  
  .items__picture::after {
    position: absolute;
    content: "Add to Cart";
    color: #FFF;
    padding: 14px;
    border: 1px solid #FFF;
    display: none;
    cursor: pointer;
  }
  
  .items__picture:hover::after {
    display: block;
  }
  
  .header__nav {
    position: absolute;
    top: 82px;
    right: 0;
    z-index: 10;
    display: none;
  }
  
  .nav {
    width: 232px;
    background-color: #fff;
    padding: 37px 34px;
    font-size: 14px;
    line-height: 17px;
    -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  }
  
  .nav__wrap {
    position: relative;
  }
  
  .nav__close {
    position: absolute;
    right: -10px;
    top: -10px;
  }
  
  .nav__title {
    margin-bottom: 14px;
  }
  
  .nav__item {
    list-style: none;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .nav__link {
    text-decoration: none;
    color: #6F6E6E;

    &:hover {
      font-weight: 700;
      transition: 0.3s;
    }
  }
  
  .nav__heading {
    color: #F16D7F;
    margin-top: 10px;
    margin-bottom: 12px;
  }
  
  @media (max-width: 475px) {
    .accesories {
      background-position:center center!important;
      background-size:cover!important;
      width: 100%!important;
    }

    .nav {
      width: 100%;
      height: auto;
    }
  }
  
  #burger {
    display: none;
  }
  
  #burger:checked ~ .header__nav {
    display: block;
  }
  
  #burger:not(checked) ~ .header__nav {
    display: none;
  }
  
  @media screen and (max-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  
    .intro {
      height: 368px;
    }
  
    .intro__wrap {
      background-position: 0px bottom;
      background-size: contain;
    }
  
    .intro__text {
      max-width: 283px;;
      
    }
  
    .thebrand {
      font-size: 44px;
    }
  
    .ofluxerious {
      font-size: 24px;
    }
  
    .fashion {
      font-size: 24px;
    }
  
    .category {
      margin-bottom: 110px;
    }
    .category__wrap {
      gap: 12px;
    }
  
    .category__item {
      height: 116px;
    }
  
    .category__item:not(:last-child) {
      width: 32%;
      margin: 0 0 20px 0;
      height: 167px;
    }
  
    .category__wrap > *{
      background-size: contain;
    }
  
    .items__button {
      width: 100%;
      text-align: center;
      margin-top: 32px;
      margin-bottom: 70px;
    }
  
    .items__card {
      max-height: none;
    }
  
    .items__wrap {
      gap: 14px;
    }
  
    .items__wrap img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  
    .infoBox__wrap {
      flex-direction: column;
      align-items: center;
      padding: 0 10px 64px;
    }
  
    .infoBox__info {
      margin-top: 48px;
    }
  
    .infoBox__name {
      margin-top: 25px;
    }
  
    .connect__wrap {
      flex-direction: column;
      padding: 64px 10px 140px;
    }
  
    .connect__background-gradient {
      background-image: linear-gradient(to bottom, #f8f8f8, transparent);
    }
  
    .connect__info {
      margin-bottom: 68px;
    }
  
    .smallText {
      color: #222224;
      font-family: Lato;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 162%;
    }
  
    .footer__wrap {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
      max-width: 767px;
    }
  
    .header__right .header__item {
      margin-right: 0;
    }
  
    .header__item:not(:nth-child(2)) {
      display: none;
    }
  
    .intro {
      height: 363px;
    }
  
    .intro__wrap {
      background: none;
      justify-content: center;
    }
  
    .thebrand {
      font-size: 38px;
    }
  
    .ofluxerious {
      font-size: 20px;
    }
  
    .fashion {
      font-size: 20px;
    }
   
    .category {
      margin-bottom: 64px;
    }
  
    .category__wrap {
      flex-direction: column;
    }
  
    .category__wrap .category__item {
      width: auto;
    }
  
    .category__item:not(:last-child) {
      height: 248px;
    }
  
    .category__item:last-child {
      height: 111px;    
    }
  
    .items__text {
      margin-bottom: 64px;
    }
  
    .items__button {
      margin-top: 40px;
      margin-bottom: 85px;
    }
  
    .shadow {
      max-width: 360px;
    }
  
    .infoBox__wrap {
      flex-direction: column;
      align-items: center;
      padding: 0 10px 64px;
    }
  
    .infoBox__info {
      margin-top: 48px;
    }
  
    .infoBox__name {
      margin-top: 25px;
    }
  
    .connect__wrap {
      flex-direction: column;
      padding: 64px 10px 140px;
    }
  
    .connect__background-gradient {
      background-image: linear-gradient(to bottom, #f8f8f8, transparent);
    }
  
    .connect__info {
      margin-bottom: 68px;
    }
  
    .smallText {
      color: #222224;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 153%;
    }
  
    .footer__wrap {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      height: 143px;
    }
  }

  @media (max-width: 425px) {
    .container {
      padding-left: 16px;
      padding-right: 16px;
    }

    .header {
      padding: 18px 0;
    }

    .category {

      &__item {
        max-width: 360px;
      } 

      &__wrap {
        align-content: center;
      }
    }

    .connect {

      &__info {
        width: 100%;
      }

      &__message {

        &__input {
          width: 100%;
        }
      } 
    }

    .infoBox {

      &__info {
        width: 100%!important;
        
        &__text {
          padding: 0 15px;
        }
      }
    }

    .nav {
      width: 90%;
    } 
  }
